// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "datatables.net-bs5/css/dataTables.bootstrap5.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.css";



.task-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-tambah-pertemuan {
    background-color: #BA57AA;
    color: white;
}

.task-title {
    color: red;
}

.task-button {
    float: right;
}

.task-button.submit {
    background-color: orange;
    color: white;
}

.task-button.do {
    background-color: purple;
    color: white;
}

.task-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.text-purple {
    color: purple;
}

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}
.btn-ijo{
    background-color: #57BA8A;
    border: #57BA8A;
}
.btn-biru{
    background-color: #57a2ba;
    color: rgb(255, 255, 255);
}
.btn-biru:hover{
    background-color: #40788b;
    color: rgb(255, 255, 255);
}
.btn-ungu{
    background-color: #8757ba;
    color: rgb(255, 255, 255);
}
.btn-ungu:hover{
    background-color: #754ba1;
    color: rgb(255, 255, 255);
}
